@model AnimeFigureWebApp.Models.NewFigureModel
@{

    ViewData["Title"] = "Create";

}

<link rel="stylesheet" href="~/css/CreateCatalog.css" asp-append-version="true" />

<div class="CreateBox">

    <div class="row" id="SubCreateBox">

        <div class="col-md-4">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                
                    <label asp-for="Figure.Name" class="control-label"></label>
                    <input asp-for="Figure.Name" class="form-control" />
                    <span asp-validation-for="Figure.Name" class="text-danger"></span>

                </div>

                <div class="form-group">

                     @Html.Label("Brand")
                    <select name="brandName" class="form-control">

                        @foreach(Brand brand in Model.Brands)
                        {
                     
                            <option value="@brand.Name">@brand.Name</option>

                        }

                    </select >

                </div>

                <div class="form-group">
                    
                    @Html.Label("Type")
                    <select name="typeName" class="form-control">

                        @foreach (AnimeFigureWebApp.Models.Type type in Model.Types)
                        {

                            <option value="@type.Name">@type.Name</option>

                        }
                       
                    </select>

                </div>

                <div class="form-group">

                    @Html.Label("Origin")
                    <select class="form-control" id="originSelect">

                        <option disabled selected>--Select options--</option>

                        @foreach (Origin origin in Model.Origins)
                        {

                            <option value="@origin.Name">@origin.Name</option>

                        }

                    </select>

                    <div id="Choosen">

                        <input type="hidden" name="selectedOrigins" id="selectedOrigins" />

                    </div>

                </div>

                <div class="form-group">
                
                    <label asp-for="Figure.Price" class="control-label"></label>
                    <input asp-for="Figure.Price" type="number" class="form-control" />
                    <span asp-validation-for="Figure.Price" class="text-danger"></span>

                </div>

                <div class="form-group">
               
                    <label asp-for="Figure.Value" class="control-label"></label>
                    <input asp-for="Figure.Value" type="number" class="form-control" />
                    <span asp-validation-for="Figure.Value" class="text-danger"></span>

                </div>

                <div class="form-group" id="CreateBoxButtons">

                    <a asp-action="Index"><input type="button" value="Cancel" class="btn btn-primary" /></a>
                    <input type="submit" value="Create" class="btn btn-primary" />

                </div>

            </form>

        </div>

    </div>

</div>

<script src="~/js/CreateFigure.js"></script>

@section Scripts 
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
